body {
    font-family: "Merriweather", sans-serif;
    margin: 0;
}

.banner {
    padding: 0.5em 0;
    min-width: 100%;
    background: #b7b7b7;
    margin-bottom: 1em;
}

.banner-home {
    margin-left: 2em;
}

.banner img {
    height: 4em;
}

.builder-container {
    display: flex; 
    flex-direction: row; 
    flex-wrap: wrap;
    justify-content: center;
}

.svg-background {
    background-color: rgb(172,173,155);
    border-radius: 0.75em;
    width: calc((85vh - 2em)*0.66);
    max-height: 85vh;
    padding: 0.5em;
    margin: 0.5em 1.5em;
}

.option-banner {
    color: #8E7356;
}

.color-selector-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 20em;
    margin-bottom: 1.25em;
}

.color-selector {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 3em;
    padding: 0.5em 1.75em;
    width: 100%;
    background: linear-gradient(0deg, #fefefe, #e1e1e1);
    border: 1px solid #e1e1e1;
    border-radius: 5px;
    font-size: 1em;
}

.color-selector:hover {
    background: linear-gradient(180deg, #fefefe, #e1e1e1);
}

.selected-color {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.selected-color .swatch {
    display: inline-block;
    height: 1em;
    width: 1em;
    margin-right: 0.75em;
}

.swatch-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0.5em;
    margin: 0;
    border-left: 1px #e1e1e1 solid;
    border-bottom: 1px #e1e1e1 solid;
    border-right: 1px #e1e1e1 solid;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.swatch {
    margin: 0.15em;
    padding: 0.15em;
    width: 1.5em;
    height: 1.5em;
    border: 0.25em solid rgba(0,0,0,0);
}

.swatch-list > .swatch:hover {
    border: 0.25em solid #dadada;
}

.swatch > .color-tooltip {
    background: rgba(0,0,0,0.75);
    color: #fff;
    position: relative;
    top: 1em;
    left: -2em;
    padding: 0 0.25em;
    border-radius: 0.25em;
    width: 5em;
    text-align: center;
}