<div class="builder-container">
  <cardigan-svg class="svg-background" selected-options="selectedOptions"></cardigan-svg>
  <div>
      <div>
          <h1 class="option-banner">My Custom Cardigan</h1>
          <div>
              <label>Main Body</label>
              <color-selector on-update="selectedOptions.colorOption1 = color"></color-selector>
          </div>
          <div>
              <label>Collar</label>
              <color-selector on-update="selectedOptions.colorOption2 = color"></color-selector>
          </div>
          <div>
              <label>Sleeves</label>
              <color-selector on-update="selectedOptions.colorOption3 = color"></color-selector>
          </div>
          
              <!-- EXTRA OPTIONS -->
          <h3>Additional Options</h3>
          <div>
              <label><input type="checkbox" ng-model="selectedOptions.extras.option1.show"> Add Sleeve Cuffs</label>
              <color-selector ng-if="selectedOptions.extras.option1.show" on-update="selectedOptions.extras.option1.color = color"></color-selector>
          </div>
          <div>
              <label><input type="checkbox" ng-model="selectedOptions.extras.option2.show"> Add Center Pocket</label>
              <color-selector ng-if="selectedOptions.extras.option2.show" on-update="selectedOptions.extras.option2.color = color"></color-selector>
          </div>
      </div>
  </div>
</div>