<div class="builder-container">
  <pants-svg class="svg-background" selected-options="selectedOptions"></pants-svg>
  <div>
      <div>
          <h1 class="option-banner">My Custom Pants</h1>
          <div>
              <label>Waistband</label>
              <color-selector on-update="selectedOptions.colorOption1 = color"></color-selector>
          </div>
          <div>
              <label>Legs</label>
              <color-selector on-update="selectedOptions.colorOption2 = color"></color-selector>
          </div>
          <div>
              <label>Cuffs</label>
              <color-selector on-update="selectedOptions.colorOption3 = color"></color-selector>
          </div>
      </div>
  </div>
</div>