<html ng-app="myApp">

<head>
    <style>
        svg .blue {
            fill: blue;
        }

        svg .red {
            fill: red;
        }

        svg .green {
            fill: green;
        }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
</head>

<body ng-controller="myCtrl">
    <h2>How To Make an SVG for the Bumby Builder</h2>
    <h1>Example 3</h1>
    <!-- <img src="Cardi.jpg" width="375" style="position:absolute;z-index: -9999;" /> -->
    <div style="display: flex; flex-direction: row;">
        <svg viewBox="0 0 375 500" style="width:375px;">
            <!-- Right and left are from viewer's perspective -->
            <polygon id="leftFrontPanel" points="65,290 125,155 155,170 160,490 50,495"
                ng-class="selectedOptions.bodyColor.patternId"
                style="stroke:#000;stroke-width:2;stroke-opacity: 0.3;" />
            <polygon id="leftSleeve" points="8,250 40,200 105,145 125,155 65,290 45,420 8,420"
                ng-class="selectedOptions.sleevesColor.patternId"
                style="stroke:#000;stroke-width:2;stroke-opacity: 0.3;" />
            <polygon id="centerTrim" points="155,170 185,172 190,490 160,490"
                ng-class="selectedOptions.bodyCenterTrimColor.patternId"
                style="stroke:#000;stroke-width:2;stroke-opacity: 0.3;" />
            <polygon id="rightFrontPanel" points="185,172 220,168 270,270 295,470 190,490"
                ng-class="selectedOptions.bodyColor.patternId"
                style="stroke:#000;stroke-width:2;stroke-opacity: 0.3;" />
            <polygon id="rightSleeve" points="220,168 238,152 290,210 359,380 359,430 335,440 275,310 270,270"
                ng-class="selectedOptions.sleevesColor.patternId"
                style="stroke:#000;stroke-width:2;stroke-opacity: 0.3;" />

            <!-- CUFFS -->
            <polygon id="leftCuff" points="8,385 50,385 45,420 8,420" ng-if="selectedOptions.extras.option1.show"
                ng-class="selectedOptions.extras.option1.color.patternId"
                style="stroke:#000;stroke-width:2;stroke-opacity: 0.3;" />
            <polygon id="rightCuff" points="315,405 359,390 359,430 335,440" ng-if="selectedOptions.extras.option1.show"
                ng-class="selectedOptions.extras.option1.color.patternId"
                style="stroke:#000;stroke-width:2;stroke-opacity: 0.3;" />
            <polygon id="bottomCuff" points="50,475 160,470 190,470 295,450 295,470 190,490 160,490 50,495"
                ng-if="selectedOptions.extras.option2.show" ng-class="selectedOptions.extras.option2.color.patternId"
                style="stroke:#000;stroke-width:2;stroke-opacity: 0.3;" />

            <!-- HOOD -->
            <polygon id="outerhoodbottomleft" points="185,172 158,142 85,138 105,145 125,155 125,155 155,170"
                ng-class="selectedOptions.hoodColor.patternId"
                style="stroke:#000;stroke-width:2;stroke-opacity: 0.3;" />
            <polygon id="outerhoodbottomRight"
                points="175,160 185,145 268,110 260,120 250,130 220,140 238,152 220,168 185,172"
                ng-class="selectedOptions.hoodColor.patternId"
                style="stroke:#000;stroke-width:2;stroke-opacity: 0.3;" />
            <polygon id="outerhoodtopLeft" points="85,138 95,80 112,40 125,110 95,115"
                ng-class="selectedOptions.hoodColor.patternId"
                style="stroke:#000;stroke-width:2;stroke-opacity: 0.3;" />
            <polygon id="outerhoodtopCenter" points="112,40 210,35 235,105 180,115 125,110"
                ng-class="selectedOptions.hoodColor.patternId"
                style="stroke:#000;stroke-width:2;stroke-opacity: 0.3;" />
            <polygon id="outerhoodtopRight" points="210,35 250,75 268,110 235,105"
                ng-class="selectedOptions.hoodColor.patternId"
                style="stroke:#000;stroke-width:2;stroke-opacity: 0.3;" />
            <polygon id="innerHood" points="85,138 95,115 125,110 180,115 235,105 268,110 185,145 175,160 158,142"
                ng-class="selectedOptions.hoodColor.patternId"
                style="stroke:#000;stroke-width:2;stroke-opacity: 0.3;" />
            <polygon id="innerHoodDarkener"
                points="85,138 95,115 125,110 180,115 235,105 268,110 185,145 175,160 158,142"
                style="fill:rgba(0,0,0,0.3);" />

            <!-- POCKET -->
            <polygon id="pocket" points="70,455 70,395 120,355 225,345 275,385 275,435 190,450 160,450"
                ng-if="selectedOptions.extras.option3.show" ng-class="selectedOptions.extras.option3.color.patternId"
                style="stroke:#000;stroke-width:2;stroke-opacity: 0.3;" />
        </svg>
        <div>
            <div>
                <h3>Hood</h3>
                <div>
                    <select ng-options="color as color.name for color in colors"
                        ng-model="selectedOptions.hoodColor"></select>
                </div>

                <h3>Sleeves</h3>
                <div>
                    <select ng-options="color as color.name for color in colors"
                        ng-model="selectedOptions.sleevesColor"></select>
                </div>

                <h3>Body</h3>
                <div>
                    <label>Main</label>
                    <select ng-options="color as color.name for color in colors"
                        ng-model="selectedOptions.bodyColor"></select>
                </div>
                <div>
                    <label>Center Trim</label>
                    <select ng-options="color as color.name for color in colors"
                        ng-model="selectedOptions.bodyCenterTrimColor"></select>
                </div>
                

                <!-- EXTRA OPTIONS -->
                <h3>Additional Options</h3>
                <label><input type="checkbox" ng-model="selectedOptions.extras.option1.show"> Add cuffs</label>
                <div ng-if="selectedOptions.extras.option1.show">
                    <label>Sleeve Cuffs</label>
                    <select ng-options="color as color.name for color in colors"
                        ng-model="selectedOptions.extras.option1.color"></select>
                </div>
                <label><input type="checkbox" ng-model="selectedOptions.extras.option2.show"> Add bottom cuff</label>
                <div ng-if="selectedOptions.extras.option2.show">
                    <label>Bottom Cuff</label>
                    <select ng-options="color as color.name for color in colors"
                        ng-model="selectedOptions.extras.option2.color"></select>
                </div>
                <label><input type="checkbox" ng-model="selectedOptions.extras.option3.show"> Add pocket</label>
                <div ng-if="selectedOptions.extras.option3.show">
                    <label>Pocket</label>
                    <select ng-options="color as color.name for color in colors"
                        ng-model="selectedOptions.extras.option3.color"></select>
                </div>
            </div>
        </div>
    </div>
    <script>
        angular.module('myApp', [])
            .controller('myCtrl', ['$scope', function ($scope) {
                $scope.colors = [
                    {
                        name: 'blue',
                        patternId: 'blue'
                    },
                    {
                        name: 'red',
                        patternId: 'red'
                    },
                    {
                        name: 'green',
                        patternId: 'green'
                    }
                ];
                var defaultColor = $scope.colors[0];
                $scope.selectedOptions = {
                    'hoodColor': defaultColor,
                    'sleevesColor': defaultColor,
                    'bodyColor': defaultColor,
                    'bodyCenterTrimColor': defaultColor,
                    'extras': {
                        'option1': {
                            'show': false,
                            'color': defaultColor
                        },
                        'option2': {
                            'show': false,
                            'color': defaultColor
                        },
                        'option3': {
                            'show': false,
                            'color': defaultColor
                        },
                        'option4': {
                            'show': false,
                            'color': defaultColor
                        },
                        'option5': {
                            'show': false,
                            'color': defaultColor
                        }
                    }
                };
            }]);
    </script>
</body>

</html>s