<div class="color-selector-container">
    <button class="color-selector" ng-click="$ctrl.editMode = !$ctrl.editMode">
        <div class="selected-color">
            <span class="swatch" style="background-color:{{$ctrl.selectedColor.patternId.fill}}"></span>
            <span>{{$ctrl.selectedColor.name}}</span>
        </div>
        <i class="fas" ng-class="{'fa-chevron-up': $ctrl.editMode, 'fa-chevron-down': !$ctrl.editMode}"></i>
    </button>
    <ul class="swatch-list" ng-show="$ctrl.editMode">
        <li ng-repeat="color in $ctrl.colors" 
            ng-click="$ctrl.setColor(color)" 
            ng-mouseenter="color.showTooltip = true"
            ng-mouseleave="color.showTooltip = false"
            class="swatch" 
            style="background-color:{{color.patternId.fill}}">
            <p ng-show="color.showTooltip" class="color-tooltip">{{color.name}}</p>
        </li>
    </ul>
</div>
